.atto_morebackcolors_button .dropdown-menu {
    min-width: inherit;
}

.atto_menuentry a[role="menuitem"]{
    display: flex;
}

.atto_menuentry a[role="menuitem"]:hover{
    background-color: transparent !important;
    background-image: none !important;
}


